@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  @apply bg-slate-950 text-slate-100 min-h-screen;
}
